body {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: green;
    color: white;
    font-weight: bold;
}
#message-el {
    font-style: italic;
}
h1 {
    color: goldenrod;
}
button {
    display: block;
    margin: 0 auto;
    color: #016f32;
    width: 150px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    background: goldenrod;
    transition: all 0.09s;
}
button:active {
    transform: scale(0.96)
}
#start {
    margin-bottom: 7px;
}